.container-fluid
  %h1 人々

  %table.people.table
    - for person in @people
      %tr.person
        %th.name
          = image_tag person.avatar_url
          = link_to person.name, person_url(person.id)
          - if manageable_person?(person)
            %span.label.label-success.manageable
              %span.glyphicon.glyphicon-ok
        %td.email= person.email_address
