%html
  %head
    %title Ubiregi Camp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
  %body.welcome
    .welcome-panel
      .welcome-panel__title Ubiregi Camp
      = link_to "ログイン", login_url, class: "btn btn-lg btn-success"
