%tr.project
  %th.name= link_to project.name, project_url(project.id)
  %td.access
    = label_tag nil, nil, "data-disabled": !manageable_person?(@person) do
      = check_box_tag "access", "1", have_access, "data-person-id": @person.id, "data-project-id": project.id, disabled: !manageable_person?(@person)
      アクセス権
