body.welcome{
  padding-top: 0;
  background: image-url(shika) no-repeat center center /cover fixed;

  div {
    position: fixed;
    width: 150px;
    left: calc(50% - 75px);
    top: 50%;
    text-align: center;
  }
}
